﻿@model IEnumerable<HomeTask1.Models.Sorting>

@{
    ViewBag.Title = "Index";
}

<h2>Sorting</h2>

<form action="/Sorting/OK" method="post">
   Vector: <input type="text" name="vector" />
   <input type="submit" value="OK" /><br />
   Sorting:   
   <select name="select">
        <option value="Shell">Shell</option>
        <option value="Insertion">Insertion</option>
        <option value="Quick">Quick</option>
   </select>

    <table>
        <tr>
            <th>
                Sorted
            </th>
            <th>
                Unsorted
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sorted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unsorted)
            </td>
            <td>
                @Html.ActionLink("Delete","Delete",new { id=item.ID })
            </td>
        </tr>
    }
    </table>
</form>